@import url("./vendor/mdl/material.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*{
  box-sizing: border-box;;
}

.page-content {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;

}
.demo-list-control {
  width: 80% !important;
}
li {
  font-size: 1.1em !important;
}
.mdl-button--icon {
  width: 50px !important;
}
.mdl-list__item {
margin: 5px;
  padding: 5px !important;
  height: 70px;
  background-color: rgb(245, 241, 241);
}
.add-item-form {
  box-sizing: border-box;;
  width: 100%;
  height: 120px;
  background-color: rgb(187, 211, 221);
  display: none;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  position: fixed;
  bottom: 0;
  z-index: 2;
}
.edit-item-form {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 120px;
  background-color: rgb(238, 229, 153);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 2;
}
.mdl-textfield {
  width: 70% !important;
}
.mdl-textfield__input,
.mdl-textfield__label {
  font-size: 1.2em !important;
}
.header-buttons {
  width: auto;
  background-color: green;
  display: flex;
  align-content: space-around;
}
.cant-prod {
  padding: 10px;
}
.buy-item-form {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 120px;
  background-color: rgb(209, 193, 189);
  display: none;
  justify-content: space-around !important;
  align-items: center;
  padding-left: 20px;
  position: fixed;
  bottom: 0;
  z-index: 2;
}
.buy-textfield {
  width: 22% !important;
  margin: 10px !important;
}
.buy-text {
  font-size: 1.2em;
}
.totales {
  padding-left: 10px;
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 2em;
  color: brown;
  background-color: beige;
}
.btn-ok {
  background-color: rgb(47, 255, 109) !important;
}
.btn-cancel {
  background-color: rgb(255, 47, 47) !important;
}
.edit-buy-item-form{
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 120px;
  background-color: rgb(209, 193, 189);
  display: none;
  justify-content:  space-around !important;
  align-items: center;
  padding-left: 20px;
  position: fixed;
  bottom: 0;
  z-index: 2;
}

.confirm{
  box-sizing: border-box;
  border: 2px solid ;
  background-color: rgb(206, 233, 198);
  width: 80%;
  height: 40%;
  text-align: center;
  padding: 20px;
  box-shadow: 5px 5px 5px;
  font-size: 1.4em;
  font-weight: 300;
}
.contenedor{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.respuestas{
  margin-top: 40px;
}

.active{
  background-color: red;
}

.btn-li-lista{
  box-sizing: border-box;
  display: flex;
  width: 100px !important;
}

#oops{
  width: 200px;

}
.oops p{
  font-weight: 500;
  font-size: 1.5em;

}

.oops{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 80%;
}

.oops a{
  color: lime;
  font-size: 2em;
  font-weight: bold;

}
.main404 {
  display: flex;
  justify-content: center;
}

.disabledDiv {
  pointer-events: none;
  opacity: 0.4;
}
#agregar, #ordenar{
 position: fixed;
 z-index:2;
 top: 86%;
 left: 81%;

}